h1 {
	font-family: Helvetica, Verdana, Geneva, sans-serif;
    text-align:center;
	padding: 0 5rem;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
  background-color: #ffffff;
  font-family: Helvetica, Verdana, Geneva, sans-serif;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: max-content;
  grid-template-columns: 1fr;
  max-width: 90rem;
    letter-spacing: 0.01rem;
    
}


main {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

main header {
	font-family: Helvetica, Verdana, Geneva, sans-serif;
    grid-column: 1 / -1;
    text-align: center;
}


main section {
  padding: 7rem;
  grid-column: 1 / -1;
  text-align: center; 
  margin: 0.5rem; 
  align-items: center; 
  justify-content: start; 
  display: flex;
	 flex-direction: column; 
}

h2 {
  margin-top: 0;
  text-align: center;
  font-family: Helvetica, Verdana, Geneva, sans-serif;
}

h3 {
  margin-top: 0;
  text-align: center;
  font-family: Helvetica, Verdana, Geneva, sans-serif;
}

.bar {
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	position: fixed; 
	top: 0; 
	width: 100%; 
	background-color: #7ebca1;
}

.item{
  grid-row: 1;
  grid-column: 1 / -1;
  text-align: center;
   padding: 0.5rem 1rem;
   border: 2px solid #000;
	width: 100%;    
	background-color: #7ebca1;
}

.pages {
    list-style: none; 
}

.hamburger {
	display: none; 
}

.cross-icon {
	display: none; 
}

#home {
    height: 100vh; 
	 justify-content: start; 
}

#about {
	justify-content: space-between; 
}

#services {
	justify-content: center; 
	margin: 4.8rem 0; 
}

#portfolio {
	margin: 4.8rem 0; 
}

#contact {
	margin: 4.8rem 0; 
	justify-content: space-between; 
}

nav ul {
    list-style-type: none;
    text-align: center;
	padding: 0 5rem;
}

nav li {
  display: inline-block;
  background-color: #468499;
  border:2px solid #000000;
  padding: 0.5rem;
    border-radius:10px;
	padding: 15px 25px;
    margin: 6px 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
}

nav a {
  color: #000;
}

footer {
	color: #fff; 
	padding: 2rem; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
    justify-content: center; 
}

.responsive {
  max-width: 100%;
}


@media screen and (max-width: 70rem) {
	h1 {
	padding: 0 3rem;
	
	}
	.hamburger {
		display: block; 
		padding: 0 3rem;
	}
	
	.pages {
		position: absolute;
		right: 0;		
		padding: 0 3rem; 
		top: 50px; 
		background-color: #7ebca1;
		display: none; 
	}
}

@media screen and (max-width: 50rem) {
}

@media screen and (max-width: 30rem) {
}

@media screen and (max-width: 25rem) {
}